<template>
  <div class='main'>
    <div class='container'>
      <h1>Images on Firebase storage</h1>
      <table v-if="images.length > 0">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(image, index) in images" :key="index">
            <td><img :src='image.url' alt=''></td>
            <td>
              <button class="btn btn--delete" @click="deleteImage(image)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div v-else>
        <h2>Your storage is clear!</h2>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted () {
    this.$store.dispatch('setFirebaseImages')
  },
  computed: {
    images () {
      return this.$store.getters.getFirebaseImages
    }
  },
  methods: {
    deleteImage (image) {
      this.$store.dispatch('deleteImage', image)
      setTimeout(() => {
        this.$store.dispatch('setFirebaseImages')
      }, 1000)
    }
  }
}
</script>

<style scoped>
  table {
    width: 100%;
    text-align: center;
  }

  th:first-child {
    width: 40%;
  }

  img {
    max-width: 100%
  }
</style>
