<template>
  <div class='carousel-wrapper'>
    <div class='carousel'>
      <div class='carousel__inner' ref='carouselInner'>
        <div class='frame-checkbox' v-for='(frame, index) in showedFrames' :key='index'>
          <input type='radio' :id="frame" :value="`preview--${frame}`" v-model="frameClass" @change="frameColorChanged">
          <label :for="frame">
            <img :src='`../static/${frame}-corner-thumb.jpg`' alt=''>
          </label>
        </div>
      </div>
    </div>
    <div class='carousel-controls'>
      <button @click='changeOffset(-perPage)' :disabled='offset <= 0'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492 492" ><path d="M198.608 246.104L382.664 62.04c5.068-5.056 7.856-11.816 7.856-19.024 0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12C361.476 2.792 354.712 0 347.504 0s-13.964 2.792-19.028 7.864L109.328 227.008c-5.084 5.08-7.868 11.868-7.848 19.084-.02 7.248 2.76 14.028 7.848 19.112l218.944 218.932c5.064 5.072 11.82 7.864 19.032 7.864 7.208 0 13.964-2.792 19.032-7.864l16.124-16.12c10.492-10.492 10.492-27.572 0-38.06L198.608 246.104z"/></svg>
      </button>
      <button @click='changeOffset(perPage)' :disabled='offset + perPage >= frames.length'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.004 492.004"><path d="M382.678 226.804L163.73 7.86C158.666 2.792 151.906 0 144.698 0s-13.968 2.792-19.032 7.86l-16.124 16.12c-10.492 10.504-10.492 27.576 0 38.064L293.398 245.9l-184.06 184.06c-5.064 5.068-7.86 11.824-7.86 19.028 0 7.212 2.796 13.968 7.86 19.04l16.124 16.116c5.068 5.068 11.824 7.86 19.032 7.86s13.968-2.792 19.032-7.86L382.678 265c5.076-5.084 7.864-11.872 7.848-19.088.016-7.244-2.772-14.028-7.848-19.108z"/></svg>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'frames'
  ],
  data () {
    return {
      frameClass: 'preview--black',
      offset: 0,
      perPage: 3
    }
  },
  computed: {
    showedFrames () {
      return this.frames.slice(this.offset, this.offset + this.perPage)
    }
  },
  methods: {
    frameColorChanged () {
      this.$emit('changeFrameColor', this.frameClass)
    },
    changeOffset (val) {
      this.offset += val
      if (this.offset > this.frames.length) {
        this.offset = this.frames.length
      } else if (this.offset < 0) {
        this.offset = 0
      }
    }
  }
}
</script>

<style>
  .carousel {
    position: relative;
    width: 260px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 80px;
    z-index: 2;
  }

  .carousel__inner {
    width: 260px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .carousel-controls {
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    top: 50%;
    margin-top: -15px;
    user-select: none;
    z-index: 1;
  }

  .carousel-controls svg {
    width: 30px;
    height: 30px;
  }

  .carousel-controls button {
    padding: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .carousel-controls button:last-child {
    left: auto;
    right: 0;
  }

  .carousel-controls button:disabled {
    opacity: 0.5;
  }

  .frames-container input[type="radio"] {
    display: none;
  }

  .frames-container label {
    display: block;
    padding: 5px;
    width: 80px;
    height: 80px;
    border-radius: 4px;
    border: 1px solid #eee;
  }

  .frames-container input[type="radio"]:checked + label {
    border-color: #000000;
  }

  .frames-container img {
    max-width: 100%;
  }
</style>
