<template>
  <div class='error' v-if="hasError">
    <p>{{ errorText }}</p>
  </div>
</template>

<script>
export default {
  computed: {
    hasError () {
      return this.$store.getters.hasError
    },
    errorText () {
      return this.$store.getters.getError
    }
  }
}
</script>

<style>
  .error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: red;
    color: white;
    font-weight: bold;
  }
</style>
