<template>
  <div class='container'>
    <button
      class='btn snipcart-add-item'
      :data-item-id="id"
      :data-item-price="this.$route.params.price"
      :data-item-url="baseUrl + this.$route.params.price">
      Submit
    </button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      baseUrl: 'https://sleepy-easley-e3157c.netlify.com/preview/'
    }
  },
  computed: {
    previewOptions () {
      return this.$store.getters.getPreviewOptions
    },
    id () {
      let price = this.$route.params.price
      if (price >= 50 && price < 65) {
        return '1'
      } else if (price >= 65 && price < 85) {
        return '2'
      } else if (price >= 85 && price < 105) {
        return '3'
      } else if (price >= 105 && price < 140) {
        return '4'
      } else if (price >= 140 && price < 200) {
        return '5'
      } else if (price >= 200 && price < 270) {
        return '6'
      } else if (price >= 270 && price < 370) {
        return '7'
      } else if (price >= 370) {
        return '8'
      }
    }
  }
}
</script>

<style>

</style>
