<template>
  <div class='design-container__preview' ref="previewContainer">
    <div :class="[{'preview--mat': previewOptions.hasMat}, previewOptions.matClass, previewOptions.matColor, previewOptions.previewClass, previewOptions.frameClass]" :style="{borderWidth: previewOptions.borderWidth + 'px', padding: previewOptions.paddings + 'px', width: previewOptions.baseWidth + 'px', height: previewOptions.customHeight + 'px'}" ref="preview">
      <loader v-if="previewOptions.loadPreviewImage"></loader>
      <div class='preview__image' :style="{ 'background-image': `url(${previewOptions.imageUrl})` }" @click="onPickFile"></div>
      <input type='file' ref='fileInput' accept='image/*' @change='onFilePicked'>
    </div>
  </div>
</template>

<script>
import loader from './loader'
export default {
  components: {
    loader
  },
  mounted () {
    this.$store.dispatch('setPreviewContainer', this.$refs.previewContainer.offsetWidth * 1)
    this.$store.dispatch('setNewSize')
    let scale = (this.previewOptions.frameWidth) / this.previewOptions.width
    this.previewOptions.borderWidth = Math.round(this.previewOptions.baseWidth * scale)
    if (this.previewOptions.useMat) {
      let scaleMat = (this.previewOptions.matWidth) / this.previewOptions.width
      this.previewOptions.paddings = Math.round(this.previewOptions.baseWidth * scaleMat)
    }
  },
  methods: {
    onPickFile () {
      this.$refs.fileInput.click()
    },
    onFilePicked (event) {
      const files = event.target.files
      this.$store.dispatch('setBg', files)
    }
  },
  computed: {
    previewOptions () {
      return this.$store.getters.getPreviewOptions
    }
  }
}
</script>

<style>
  .preview {
    position: relative;
    margin: 0 auto 1em;
    width: 200px;
    height: 300px;
    border: #2e1a12 solid 8px;
    border-image: url('../assets/wood.png') 200 stretch;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    box-sizing: content-box;
  }

  input[type="file"] {
    display: none;
  }

  .preview--brown {
    border-image: url('../assets/wood--brown.jpg') 200 stretch;
  }

  .preview--black {
    border-image: url('../assets/wood--black.jpg') 200 stretch;
  }

  .preview--white {
    border-image: url('../assets/wood--white.jpg') 200 stretch;
  }

  .preview--cream {
    border-image: url('../assets/wood--cream.jpg') 200 stretch;
  }

  .preview--2 {
    border-width: 20px;
  }

  .preview--3 {
    border-width: 30px;
  }

  .preview--4 {
    border-width: 40px;
  }

  .previewMat--3 {
    padding: 30px;
  }

  .previewMat--5 {
    padding: 50px;
  }

  .previewMat--7 {
    padding: 70px;
  }

  .previewMat--9 {
    padding: 90px;
  }

  .previewMat--white {
    background-color: #ffffff;
  }

  .previewMat--black {
    background-color: #000000;
  }

  .preview__image {
    width: 100%;
    height: 100%;
    background-image: url('../../static/placeholder.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .preview--mat {
    padding: 8px;
  }

  .frame-select {
    margin-top: auto;
  }

  @media screen and (max-width: 860px) {
    .design-container__preview,
    .design-container__options {
      box-sizing: border-box;
      width: 100%;
    }
  }
</style>
