<template>
  <div class='main'>
    <div class='container'>
      <div class="back">
        <router-link class="back" to="/lijstenmaker">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink" width="29" height="29">
            <title>Arrow Left</title>
            <desc>A line styled icon from Orion Library.</desc>
            <path data-name="layer2"
            fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M14 31.998h36"
            stroke-linejoin="miter" stroke-linecap="round"></path>
            <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10"
            stroke-width="2" d="M28 18L14 32l14 14" stroke-linejoin="miter" stroke-linecap="round"></path>
          </svg>
          Back to start
        </router-link>
      </div>
    </div>
    <div class='container design-container'>
      <frame-preview></frame-preview>
      <div class='design-container__options options'>
        <div class='options__container'>
          <h2 class="options__header">Designing a frame for your {{previewOptions.width}}x{{previewOptions.height}}cm print</h2>
          <h3 v-if="previewOptions.useMat">Total frame size {{previewOptions.width*1 + previewOptions.matWidth*2}}x{{previewOptions.height*1+previewOptions.matWidth*2}}</h3>
          <div class='options__items'>
            <div class='frame-select'>
              <h3>Choose your frame</h3>
              <div class='frames-container'>
                <carousel :frames="previewOptions.frameColorOptions" @changeFrameColor="frameColorChanged($event)"></carousel>
              </div>
            </div>
            <!-- <div class='options__item'>
              <h3>Choose the width of your frame</h3>
              <div class='options__input'>
                <input type='range' min="2" max="4" step="1" v-model="frameWidth" @change="frameWidthChanged">
                <div class='frame-width-data'>
                  <span>2cm</span>
                  <span>3cm</span>
                  <span>4cm</span>
                </div>
              </div>
            </div> -->
            <div class='options__item'>
              <h3>Would you like a mat?</h3>
              no
              <toggle-button v-model="previewOptions.useMat" @change="matShowed"/>
              yes
            </div>
            <div class='options__item mat' v-if="previewOptions.useMat">
              <div class='mat__item'>
                <span>color</span>
                <div class='mat-checkbox'>
                  <input type='radio' id="matWhite" v-model="previewOptions.matColor" value="previewMat--white">
                  <label for='matWhite'></label>
                </div>
                <div class='mat-checkbox'>
                  <input type='radio' id="matBlack" v-model="previewOptions.matColor" value="previewMat--black">
                  <label class="black" for='matBlack'></label>
                </div>
              </div>
              <div class='mat__item'>
                <span>width</span>
                <div class='options-input'>
                  <input type='range' min="3" max="9" step="2" v-model="previewOptions.matWidth" @input="matWidthChanged">
                  <div class='mat-data'>
                    <span>3cm</span>
                    <span>5cm</span>
                    <span>7cm</span>
                    <span>9cm</span>
                  </div>
                </div>
              </div>
            </div>
            <div class='options__item'>
              <h3>Which type of glazing?</h3>
              <div class='options-input'>
                <input type='range' min="10" max="30" step="10" v-model="previewOptions.glazing" @change="glazingChanged">
                <div class='glazing-data'>
                  <span>standard</span>
                  <span>uv70</span>
                  <span>uv99</span>
                </div>
              </div>
            </div>
            <div class='options__item price'>
              <span>{{totalPrice | currency}}</span>
              <button class='btn' @click="finalPreview">buy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import carousel from './carousel'
import framePreview from './framePreview'
import loader from './loader'
export default {
  name: 'home',
  components: {
    carousel,
    framePreview,
    loader
  },
  mounted () {
    let minSize = this.previewOptions.width < this.previewOptions.height ? this.previewOptions.width : this.previewOptions.height
    this.$store.dispatch('setStartPrice', minSize * 1 + this.previewOptions.matWidth * 2)
  },
  methods: {
    frameColorChanged (event) {
      this.$store.dispatch('setFrameColor', event)
    },
    frameWidthChanged (event) {
      let val = event.target.value
      this.$store.dispatch('setFrameWidthChanged', val)
    },
    matWidthChanged (event) {
      let val = event.target.value * 1
      this.$store.dispatch('setMatWidthChanged', val)
      let minSize = this.previewOptions.width < this.previewOptions.height ? this.previewOptions.width : this.previewOptions.height
      this.$store.dispatch('setStartPrice', minSize * 1 + val * 2)
    },
    matShowed () {
      this.$store.dispatch('setMatShowed')
      let minSize = this.previewOptions.width < this.previewOptions.height ? this.previewOptions.width : this.previewOptions.height
      if (this.previewOptions.useMat) {
        this.$store.dispatch('setStartPrice', minSize * 1 + 6)
      } else {
        this.$store.dispatch('setStartPrice', minSize * 1)
      }
    },
    glazingChanged (event) {
      let value = event.target.value
      this.$store.dispatch('setGlazingChanged', value)
    },
    finalPreview () {
      if (this.previewOptions.imageUrl === 'static/placeholder.png') {
        this.$store.dispatch('setError', 'You should upload image first')
      } else {
        this.$router.push(`/lijstenmaker/preview`)
      }
    }
  },
  computed: {
    previewOptions () {
      return this.$store.getters.getPreviewOptions
    },
    totalPrice () {
      return this.$store.getters.getTotalPrice
    }
  },
  filters: {
    currency (value) {
      return '€ ' + value
    }
  }
}
</script>

<style>

  .back {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }

  .design-container {
    display: flex;
    flex-wrap: wrap;
  }

  h3 {
    margin: 0 0 1em;
  }

  .options__header {
    margin: 0 0 30px;
  }

  .options__container {
    display: flex;
    flex-direction: column;
  }

  .options__item {
    padding: 1em 0;
  }

  .label {
    display: block;
  }

  .frame-width-data,
  .glazing-data {
    margin-top: 5px;
    width: 240px;
    display: flex;
    justify-content: space-between;
  }

  .glazing-data {
    text-transform: uppercase;
  }

  .price {
    display: flex;
    align-items: center;
    margin-top: 2em;
    font-size: 22px;
    font-weight: bold;
    color: #57ad68;
  }

  .price .btn {
    margin-left: 2em;
  }

  .frames-container {
    position: relative;
    max-width: 380px;
    margin: 0;
  }

  .mat__item {
    display: flex;
    align-items: center;
  }

  .mat__item:not(:first-child) {
    margin-top: 1em;
  }

  .mat__item span {
    margin-right: 1em;
  }

  .mat__item input[type="radio"] {
    display: none;
  }

  .mat__item label {
    margin-right: 10px;
    position: relative;
    display: block;
    width: 37px;
    height: 37px;
    border: 1px solid #bbb;
    border-radius: 4px;
  }

  .mat__item label:before {
    content: '';
    width: 31px;
    height: 31px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 4px;
    border: 1px solid #bbb;
    background-color: #fff;
  }

  .mat__item label.black:before {
    background-color: #000;
  }

  .mat__item input[type="radio"]:checked + label {
    border-color: #000;
  }

  .mat-data {
    width: 240px;
    display: flex;
    justify-content: space-between;
  }

  .mat-data span {
    margin: 0;
  }

  @media screen and (max-width: 860px) {

    .price {
      margin-top: 0;
      flex-direction: column;
      align-items: center;
    }

    .price .btn {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  /* range slider styles */

  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 240px; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-ms-track {
    width: 240px;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  /* Special styling for WebKit/Blink */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #2d73a4;
    cursor: pointer;
    margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }

  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #2d73a4;
    cursor: pointer;
  }

  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #2d73a4;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #ececec;
    border-radius: 3px;
    border: 1px solid #afafaf;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ececec;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #ececec;
    border-radius: 1.3px;
    border: 1px solid #afafaf;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #ececec;
    border: 1px solid #afafaf;
    border-radius: 3px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ececec;
  }
  input[type=range]::-ms-fill-upper {
    background: #ececec;
    border: 1px solid #afafaf;
    border-radius: 3px;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ececec;
  }
</style>
