<template>
  <div class='home'>
    <div class='home__content'>
      <h1>Let's get started</h1>
      <div class='frame-select-home'>
          <div class='card'>
            <div class='card__content'>
              <div class='card__front'>
                <img src='../assets/Custom-frame.svg' alt=''>
                <h2>Create a custom frame</h2>
              </div>
              <div class='card__back'>
                <div class='frame-select__data'>
                  <p>Measure the width and height of the artwork you'd like to frame, and provide both dimensions below.</p>
                  <div class='input-area'>
                    <input type='text' placeholder="Width" v-model="width" @keypress="numberCheck">
                    <input type='text' placeholder="Height" v-model="height" @keypress="numberCheck">
                    <button class="btn" @click="startBuildingFrame">Proceed</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class='card'>
          <div class='card__content'>
            <div class='card__front'>
              <img src='../assets/Upload-photo.svg' alt=''>
              <h2>Choose from a standard sizes</h2>
            </div>
            <div class='card__back'>
              <div class='frame-select__data'>
                <input type='radio' name="size" id="size1" value="20x25" v-model="tempSize">
                <label for="size1" class='input-area input-area--sizes'>
                  20 x 25
                </label>
                <input type='radio' name="size" id="size2" value="30x40" v-model="tempSize">
                <label for="size2" class='input-area input-area--sizes'>
                  30 x 40
                </label>
                <input type='radio' name="size" id="size3" value="40x50" v-model="tempSize">
                <label for="size3" class='input-area input-area--sizes'>
                  40 x 50
                </label>
                <input type='radio' name="size" id="size4" value="50x60" v-model="tempSize">
                <label for="size4" class='input-area input-area--sizes'>
                  50 x 60
                </label>
                <input type='radio' name="size" id="size5" value="60x75" v-model="tempSize">
                <label for="size5" class='input-area input-area--sizes'>
                  60 x 75
                </label>
                <input type='radio' name="size" id="size6" value="75x100" v-model="tempSize">
                <label for="size6" class='input-area input-area--sizes'>
                  75 x 100
                </label>
                <input type='radio' name="size" id="size7" value="90x120" v-model="tempSize">
                <label for="size7" class='input-area input-area--sizes'>
                  90 x 120
                </label>
                <input type='radio' name="size" id="size8" value="100x150" v-model="tempSize">
                <label for="size8" class='input-area input-area--sizes'>
                  100 x 150
                </label>
                <div class='hidden'>{{setSize}}</div>
              </div>
              <button class="btn" @click="startBuildingFrame">Proceed</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        width: 0,
        height: 0,
        tempSize: '0x0'
      }
    },
    computed: {
      setSize () {
        let sizes = this.tempSize.split('x')
        this.width = sizes[0] * 1
        this.height = sizes[1] * 1
      }
    },
    methods: {
      startBuildingFrame () {
        let width = this.width * 1
        let height = this.height * 1
        if (width > height) {
          if (width > 150) {
            this.$store.dispatch('setError', 'Width should not be greater than 150cm')
          } else if (height > 100) {
            this.$store.dispatch('setError', 'Height should not be greater than 100cm')
          } else {
            this.$store.dispatch('setStartSize', {width: this.width, height: this.height})
            this.$router.push('frame')
          }
        } else if (height > width) {
          if (width > 100) {
            this.$store.dispatch('setError', 'Width should not be greater than 100cm')
          } else if (height > 150) {
            this.$store.dispatch('setError', 'Height should not be greater than 150cm')
          } else {
            this.$store.dispatch('setStartSize', {width: this.width, height: this.height})
            this.$router.push('/lijstenmaker/frame')
          }
        } else if (height === width) {
          if (width > 100) {
            this.$store.dispatch('setError', 'In square format width should not be greater than 100cm')
          } else {
            this.$store.dispatch('setStartSize', {width: this.width, height: this.height})
            this.$router.push('/lijstenmaker/frame')
          }
        }
      },
      numberCheck (event) {
        let filterFloat = function (value) {
          if (/^[0-9.,]+$/.test(value)) {
            return true
          }
          return false
        }

        if (event.charCode !== 0) {
          let oldValue = event.target.value
          let newValue = oldValue + String.fromCharCode(event.charCode)
          let points = newValue.split('.')[1] || newValue.split(',')[1]
          if (points) {
            if (points.length > 1) {
              event.preventDefault()
            }
          }
          if (!filterFloat(newValue)) {
            event.preventDefault()
          }
        }
        event.target.value = event.target.value.replace(/,/g, '.')
      }
    }
  }
</script>

<style>
  .home {
    padding: 1em 0;
    height: 1px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .home h1 {
    margin: 0 0 1em;
  }

  .frame-select-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .card {
    height: 350px;
    text-decoration: none;
    color: inherit;
    margin-bottom: 1em;
    overflow: hidden;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  }

  .card__content {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .card__front, .card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    transition: 0.6s;
  }

  .card__front {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card__front h2 {
    margin: 0;
  }

  .card__back {
    transform: translateY(-100%);
    background-color: #fff;
    z-index: 2;
  }

  .card:hover .card__back {
    transform: translateY(0);
  }

  .frame-select-home img {
    max-width: 250px;
  }

  .input-area {
    width: 100%;
    padding: 15px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 3px;
    border: 2px solid #eee;
  }

  .input-area--sizes {
    display: block;
    width: 90px;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
  }

  .card__back input[type="radio"] {
    display: none;
  }

  .card__back input[type='radio']:checked + .input-area {
    border: 2px solid #57ad68;
  }

  .input-area input:focus {
    outline: 1px solid #2980b9;
  }

  .input-area input {
    width: calc((100% - 20px)/2);
    padding: 0 10px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ddd;
  }


  .input-area .btn {
    margin: 20px auto;
  }

  .card__back .frame-select__data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .card__back .input-area {
    margin-bottom: 1em;
  }

  .card__back button:focus,
  .card__back button:active {
    outline: none;
    border: 2px solid #57ad68;
  }

  .hidden {
    display: none;
  }

  @media screen and (min-width: 720px) {

    .frame-select-home {
      flex-direction: row;
    }

    .card {
      margin-bottom: 0;
      width: calc((100% - 20px)/2);
    }
  }

  @media screen and (max-width: 720px) and (max-height: 870px) {
    .home {
      height: auto;
    }
  }

</style>
