<template>
  <div class="loader">
    <div class='loader__box'>
      <svg xmlns="http://www.w3.org/2000/svg"
      width="80px" height="60px"
      viewBox="5 0 80 60">
        <path id="wave"
            fill="none"
            stroke="#262626"
            stroke-width="4"
            stroke-linecap="round">
        </path>
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  mounted () {
    this.buildWave(90, 60)
  },
  methods: {
    buildWave (w, h) {
      let path = document.querySelector('#wave')
      // let animation = document.querySelector('#moveTheWave')
      let m = 0.512286623256592433
      const a = h / 4
      const y = h / 2

      const pathData = [
        'M', w * 0, y + a / 2,
        'c',
        a * m, 0,
        -(1 - a) * m, -a,
        a, -a,
        's',
        -(1 - a) * m, a,
        a, a,
        's',
        -(1 - a) * m, -a,
        a, -a,
        's',
        -(1 - a) * m, a,
        a, a,
        's',
        -(1 - a) * m, -a,
        a, -a,
        's',
        -(1 - a) * m, a,
        a, a,
        's',
        -(1 - a) * m, -a,
        a, -a,
        's',
        -(1 - a) * m, a,
        a, a,
        's',
        -(1 - a) * m, -a,
        a, -a,
        's',
        -(1 - a) * m, a,
        a, a,
        's',
        -(1 - a) * m, -a,
        a, -a,
        's',
        -(1 - a) * m, a,
        a, a,
        's',
        -(1 - a) * m, -a,
        a, -a,
        's',
        -(1 - a) * m, a,
        a, a,
        's',
        -(1 - a) * m, -a,
        a, -a
      ].join(' ')

      path.setAttribute('d', pathData)
    }
  }
}
</script>

<style scoped>
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 10;
  }

  .loader__box {
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #262626;
  }

  svg {
    margin: 0 auto;
    overflow: hidden;
  }

  #wave {
    stroke-dasharray: 0 16 101 16;
    animation: moveTheWave 2400ms linear infinite;
  }

  @keyframes moveTheWave {
    0% {
      stroke-dashoffset: 0;
      transform: translate3d(0, 0, 0);
    }
    100% {
      stroke-dashoffset: -133;
      transform: translate3d(-90px, 0, 0);
    }
  }
</style>
