<template>
  <div class='main'>
    <div class='container' v-if="previewOptions">
      <div class="back">
        <router-link class="back" to="/lijstenmaker/frame">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink" width="29" height="29">
            <path data-name="layer2"
            fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M14 31.998h36"
            stroke-linejoin="miter" stroke-linecap="round"></path>
            <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10"
            stroke-width="2" d="M28 18L14 32l14 14" stroke-linejoin="miter" stroke-linecap="round"></path>
          </svg>
          Back to frame builder
        </router-link>
      </div>
      <h2>Your order details</h2>
    </div>
    <div class='container design-container'>
      <frame-preview></frame-preview>
      <div class='design-container__options options'>
        <div class='options__container'>
          <h3>Total frame size: {{previewOptions.width * 1 + previewOptions.matWidth * 2}}x{{previewOptions.height * 1 + previewOptions.matWidth * 2}}</h3>
          <h3 v-if="previewOptions.matWidth > 0">Mat size: {{previewOptions.matWidth}}cm</h3>
          <h3>UVCoat: {{previewOptions.uvPrice | currency}}</h3>
          <h3>Price: {{totalPrice | currency}}</h3>
          <button
            class='btn snipcart-add-item'
            :data-item-id="getId"
            :data-item-name="getName"
            :data-item-price="totalPrice"
            data-item-custom1-name="Image Link"
            :data-item-custom1-value="previewOptions.imageUrl"
            data-item-custom2-name="Mat"
            :data-item-custom2-value="this.previewOptions.matWidth"
            data-item-custom3-name="Mat Color"
            :data-item-custom3-value="this.matColor"
            data-item-custom4-name="Coating"
            :data-item-custom4-value="this.coating"
            data-item-custom5-name="Frame Color"
            :data-item-custom5-value="this.frameColor"
            :data-item-url="baseUrl + totalPrice">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import framePreview from './framePreview'
export default {
  data () {
    return {
      baseUrl: 'https://sleepy-easley-e3157c.netlify.com/lijstenmaker/preview/'
    }
  },
  components: {
    framePreview
  },
  computed: {
    previewOptions () {
      return this.$store.getters.getPreviewOptions
    },
    totalPrice () {
      return this.$store.getters.getTotalPrice
    },
    getName () {
      let w = this.previewOptions.width * 1 + this.previewOptions.matWidth * 2
      let h = this.previewOptions.height * 1 + this.previewOptions.matWidth * 2
      return `Frame ${w}x${h}`
    },
    getId () {
      let price = this.$store.getters.getTotalPrice
      if (price >= 50 && price < 65) {
        return '1'
      } else if (price >= 65 && price < 85) {
        return '2'
      } else if (price >= 85 && price < 105) {
        return '3'
      } else if (price >= 105 && price < 140) {
        return '4'
      } else if (price >= 140 && price < 200) {
        return '5'
      } else if (price >= 200 && price < 270) {
        return '6'
      } else if (price >= 270 && price < 370) {
        return '7'
      } else if (price >= 370) {
        return '8'
      }
    },
    coating () {
      if (this.previewOptions.glazing === '10') {
        return 'Standart'
      }
      if (this.previewOptions.glazing === '20') {
        return 'UV70'
      }
      if (this.previewOptions.glazing === '30') {
        return 'UV99'
      }
    },
    matColor () {
      return this.previewOptions.matColor.split('--')[1]
    },
    frameColor () {
      return this.previewOptions.frameClass.split('--')[1]
    }
  },
  filters: {
    currency (value) {
      return '€ ' + value
    }
  }
}
</script>

<style>

</style>
