<template>
  <div id="app" class="app">
    <router-view/>
    <error-pane></error-pane>
  </div>
</template>

<script>
import errorPane from './components/errorPane.vue'
export default {
  name: 'app',
  components: {
    errorPane
  }
}
</script>

<style>
  html {
    box-sizing: border-box;
  }
  *, *:after, *:before {
    box-sizing: inherit;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  }

  .app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  .container {
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
    margin: 60px auto 0;
    text-align: left;
  }

  .design-container {
    display: flex;
    flex-wrap: wrap;
  }

  .btn {
    display: inline-block;
    padding: 0 30px;
    -webkit-appearance: none;
    background-color: #57ad68;
    color: #ffffff;
    border: none;
    outline: none;
    text-transform: uppercase;
    line-height: 40px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
  }

  .btn--delete {
    background-color: red;
  }

  .snip-product__name + p {
    display: none;
  }

  .snipcart-customfield-textbox {
    display: none;
  }

  .snip-layout .snip-form__label {
    text-transform: none;
  }

  .design-container__preview,
  .design-container__options {
    width: 50%;
    text-align: left;
  }

  .design-container__preview {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .design-container__preview .loader {
    position: absolute !important;
  }

  .design-container__options {
    padding-left: 40px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 860px) {
    .design-container {
      flex-direction: column;
    }

    .design-container__preview,
    .design-container__options {
      box-sizing: border-box;
      width: 100%;
    }

    .design-container__options {
      margin-top: 20px;
      padding-left: 0;
      padding-right: 0;
    }
  }
</style>
